In [ ]:
import pandas as pd
df = pd.read_csv('Social_Network_Ads.csv')
df.head()
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score,GridSearchCV
from sklearn.model_selection import KFold
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
df.head()

In [ ]:
x= df.drop(['Purchased','User ID','Gender'],axis=1)
y = df['Purchased']

In [ ]:
models = {'l_regression':LogisticRegression(),'Gaussian':GaussianNB(),'R_forest':RandomForestClassifier(),'Svc':SVC(),'KnN':KNeighborsClassifier()}

res = []

for i in models:
    model=models[i]
    scores=cross_val_score(model,x,y,cv=5)
    a=(i,scores.mean())
    res.append(a)

In [ ]:
res

# Parameters

In [ ]:
lg_params={'solver':['lbfgs','liblinear','newton-cg','newton-cholesky','sag','saga']}


dt_params={'criterion':['gini','entropy','log_loss']}

In [ ]:
model_details = {
                 'logistic':{'model':LogisticRegression(),'params':lg_params},
                            'dt':{'model':RandomForestClassifier(),'params':dt_params}}

In [ ]:
def get_best(x,y):
    results=[]
    for model_name in model_details:
        model_dict=model_details.get(model_name)
        model=model_dict.get('model')
        params=model_dict.get('params')
        cv=GridSearchCV(model,params,cv=5,return_train_score=True)
        cv.fit(x,y)
        bp=cv.best_params_
        bs=cv.best_score_
        t_res={'model':model_name,'best_params':bp,'best_score':bs}
        results.append(t_res)
        
    res_df=pd.DataFrame(results)
    best_model=res_df[res_df['best_score']==res_df['best_score'].max()]
    return res_df,best_model

In [ ]:
get_best(x,y)

In [ ]:
#'svm':{'model':SVC(),'params':svm_params}
#svm_params={'gamma':[1,5,10],'C':[1.0],'kernel':['rbf','sigmoid','poly','linear']}
    
    
# rf_params={'n_estimators':[10,20,30,40]}  
#'rf':{'model':RandomForestClassifier(),'params':rf_params}

In [ ]:
res_df,best_model=get_best(x,y)

In [ ]:
res_df

In [ ]:
best_model

In [36]:



df1 = pd.read_csv('Salary_Data (1).csv')
df1.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [37]:
x = df1['YearsExperience']
y = df1['Salary']

SyntaxError: invalid syntax (Temp/ipykernel_19860/2879985657.py, line 1)