In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv('weather_replace (2).csv',na_values=-99999)
df.set_index('day',inplace=True)

In [23]:
df.shape

(7, 3)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 1/1/2017 to 1/6/2017
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  5 non-null      float64
 1   windspeed    5 non-null      float64
 2   event        7 non-null      object
dtypes: float64(2), object(1)
memory usage: 224.0+ bytes

In [25]:
df.describe()

       temperature  windspeed
count      5.00000   5.000000
mean      31.40000   5.400000
std        2.19089   2.073644
min       28.00000   2.000000
25%       31.00000   5.000000
50%       32.00000   6.000000
75%       32.00000   7.000000
max       34.00000   7.000000

In [26]:
df.columns

Index(['temperature', 'windspeed', 'event'], dtype='object')

In [27]:
df

          temperature  windspeed  event
day
1/1/2017         32.0        6.0   Rain
1/2/2017          NaN        7.0  Sunny
1/3/2017         28.0        NaN   Snow
1/4/2017          NaN        7.0      0
1/5/2017         32.0        NaN   Rain
1/6/2017         31.0        2.0  Sunny
1/6/2017         34.0        5.0      0

In [28]:
df.isna().sum()

temperature    2
windspeed      2
event          0
dtype: int64

In [29]:
df.interpolate(inplace=True)

In [30]:
df.replace({-99999:1000})

          temperature  windspeed  event
day
1/1/2017         32.0        6.0   Rain
1/2/2017         30.0        7.0  Sunny
1/3/2017         28.0        7.0   Snow
1/4/2017         30.0        7.0      0
1/5/2017         32.0        4.5   Rain
1/6/2017         31.0        2.0  Sunny
1/6/2017         34.0        5.0      0

In [32]:
df1=df.copy()

In [52]:
df1['event'].replace(0,'Winter',inplace=True)
df1

          temperature  windspeed  event
day
1/1/2017         32.0        6.0   Rain
1/2/2017         30.0        7.0  Sunny
1/3/2017         28.0        7.0   Snow
1/4/2017         30.0        7.0      0
1/5/2017         32.0        4.5   Rain
1/6/2017         31.0        2.0  Sunny
1/6/2017         34.0        5.0      0

In [43]:
df1.replace({0,"Winter"})

          temperature  windspeed  event
day
1/1/2017         32.0        6.0   Rain
1/2/2017         30.0        7.0  Sunny
1/3/2017         28.0        7.0   Snow
1/4/2017         30.0        7.0      0
1/5/2017         32.0        4.5   Rain
1/6/2017         31.0        2.0  Sunny
1/6/2017         34.0        5.0      0